@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.Contributions{
    background-color: #e4e4e4;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.Contributions-header{
    background-image: url("../images/Texture.jpg");
    background-color: #ffffff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.Contributions-header h2{
    color: #ffffff;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    animation: shadow-dance 2s infinite;
}
.projects{
    display: flexbox;
    margin-top: 20px;
    height: fit-content;
    width: 95%;

}
.post{
    width: fit-content;
    height: max-content;
    background-color: #ffffff;
    display: flex;
    margin-left: 3%;
    padding: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
}
.post p{
    font-family: "Urbanist";
    font-weight: 400;
    font-size: x-large;
    margin-right: 15px;
}

@media (max-width: 900px) {
    .projects{
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .post{
        background-color: #ffffff;
        width: 95%;
        height: fit-content;
        padding: 5px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        margin-bottom: 20px;
        display: block;
    }
    .post p{
        text-align: center;
    }
    .video{
    height: 25vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
}

.carousel{
    max-width: 1000px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
.carousel-inner{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 20px;
    }
.carousel-inner img{
    max-width: 1000px;
    max-height: 750px;
    width: 95%;
}


@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, 7px 7px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -7px -7px 0 #ff005e;
    }
}

