.header{
    background-color: #f8f9fa;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: url("../images/bg3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% ;
}

.div-header-text{
    color: #fff;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #aaaaaae1;
}
.intro{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 1);
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 900px){
    .intro{
        text-align: center;
        font-display:inherit;
        
    }
}